

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Progress Bar</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="BluePercentage" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="BluePercentage + '%'" ></div>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValueNow]="GreenPercentage" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="GreenPercentage + '%'" ></div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              
              <app-increaser legend="Progress Blue Bar" (percentageChanger)="BluePercentage= $event " [percentage]="BluePercentage"></app-increaser>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <app-increaser legend="Progress Green Bar" (percentageChanger)="GreenPercentage= $event " [percentage]="GreenPercentage"></app-increaser>
            </div>
        </div>
    </div>
</div>
              