<div class="row">
  <div class="col-6">
      <div class="card">
          <div class="card-body">
            <app-donut-chart [graphic]="graficos.grafico1"></app-donut-chart>
          </div>
      </div>
  </div>
  <div class="col-6">
    <div class="card">
        <div class="card-body">
          <app-donut-chart [graphic]="graficos.grafico2"></app-donut-chart>
        </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
        <div class="card-body">
          <app-donut-chart [graphic]="graficos.grafico3"></app-donut-chart>
        </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
        <div class="card-body">
          <app-donut-chart [graphic]="graficos.grafico4"></app-donut-chart>
        </div>
    </div>
  </div>
</div>

